@import '../../styles/variables.scss';

.selector__container {
	h2 {
		letter-spacing: 0.1rem;
	}
	margin: 0 auto;
	padding: 1rem;
	@include displayFlexCenter;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
	max-width: $medium;

	.selector__options {
		width: 100%;
		@include displayFlexCenter;
		gap: 1rem;
		flex-direction: column;

		.selector__option {
			width: 100%;
			@include displayFlexSpaceBetween;
			gap: 0.5rem;
			padding: 0.5rem;
			font-size: 1.3rem;
			font-weight: 500;
			font-style: italic;

			label {
				cursor: pointer;
			}

			.selector__letter {
				font-weight: bold;
			}
			input {
				cursor: pointer;
				width: 1.2rem;
				height: 1.2rem;
			}
		}
		.selected {
			background-color: #f1d9c5;
			border-radius: $border-radius;
		}
	}
	.button__container {
		width: 100%;
		@include displayFlexSpaceBetween;
		gap: 1rem;
		flex-wrap: wrap;
		padding: 0.5rem;
		.test__text {
			font-size: 1.3rem;
			font-style: italic;
		}
		.test__level {
			margin-left: 0.5rem;
			font-size: 1.4rem;
			font-weight: bold;
		}

		.btn__start {
			outline: none;
			border: none;
			color: white;
			padding: 0.5rem 1rem;
			font-size: 1.6rem;
			font-weight: bold;
			letter-spacing: 0.1rem;
			background-color: $footerColor;
			border-radius: $border-radius;
			cursor: pointer;
			transition: all ease 0.2s;
			@media only screen and (max-width: $small) {
				letter-spacing: normal;
				font-size: 1.4rem;
				padding: 0.4rem 0.8rem;
			}
			&:hover {
				background-color: $buttonHover;
				transform: translateX(0.15rem);
			}
		}
		.disabled {
			position: relative;

			&:hover::after {
				content: 'Choose test level';
				position: absolute;
				width: 10rem;
				height: 1.5rem;
				top: -1.3rem;
				left: 0;
				font-size: 0.9rem;
				color: rgb(103, 0, 0);
			}
		}
		@media only screen and (max-width: $small) {
			@include displayFlexCenter;
		}
	}
}
