//display

@mixin displayFlexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin displayFlexSpaceBetween {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@mixin displayFlexEnd {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
