//fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,800;1,100;1,200;1,300;1,500;1,600&display=swap');

$poppins: 'Poppins', sans-serif;

// $navBackground: #d6702f;
// $navColor: #fff5eb;
// $navHover: white;
// $mainLinkColor: #fff5eb;
// $mainLinkHover: #f7f6f5;
// $mainLinkBColor: #6e6e6e;
// $mainLinkBHover: #a1a1a1;
// $footerBackground: #935729;
// $footerColor: #ffe8d1;
// $mainBlack: #212121;
// $mainWhite: #f7f6f5;
// $buttonColor: #6e6e6e;
// $buttonHover: #a1a1a1;
// $buttonText: #f7f6f5;
// $inputBackground: #e3e0e0;
// $burgerColor: #dadada;
// $burgerColorHover: #f5f3f3;

$navBackground: #fc4a1a;
$navBackground: #d6702f;
$navColor: #fff5eb;
$navHover: white;
$mainLinkColor: #fff5eb;
$mainLinkHover: #f7f6f5;
$mainLinkBColor: #6ec2b6;
$mainLinkBHover: #6ea99f;
$footerBackground: #666666;
$footerGradient: linear-gradient(
	to bottom,
	#6ec2b6,
	#5fc3b4,
	#4fc4b2,
	#3ac5b0,
	#19c6ad
);
$footerColor: black;
$mainBlack: #212121;
$mainWhite: #f7f6f5;
$buttonColor: #18181880;
$buttonHover: #34343480;
$buttonText: #f7f6f5;
$inputBackground: #e3e0e0;
$burgerColor: #dadada;
$burgerColorHover: #f5f3f3;
$siteBackground: #6ec2b6;

//spacing

$content-width: 1200px;

//border-radius

$border-radius: 0.4rem;

// media breakpoints

$small: 550px;
$medium: 600px;
$large: 1200px;

//mixins

//display

@mixin displayFlexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin displayFlexSpaceBetween {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@mixin displayFlexEnd {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
@mixin displayFlexStart {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

@mixin btn {
	outline: none;
	border: none;
	color: $buttonText;
	padding: 0.5rem 1rem;
	font-size: 1.6rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	background-color: $buttonColor;
	border-radius: $border-radius;
	cursor: pointer;
	transition: all ease 0.3s;

	&:hover {
		background-color: $buttonHover;
		transform: translateX(0.15rem);
	}
}
