@import '../../styles/variables.scss';

.navigation {
	position: fixed;
	z-index: 100;
	top: 0;
	width: 100%;
	padding: 1rem;
	height: 5rem;
	@include displayFlexSpaceBetween;
	background-color: $navMain;

	@media only screen and (min-width: $large) {
		padding-right: 20vw;
	}
	.logo {
		background-color: rgb(183, 183, 183);
		width: 6rem;
		height: 3rem;
		color: rgb(194, 126, 0);
		padding: 1rem;
		font-size: 1.2rem;
		font-weight: bold;
		border-radius: 1rem;
		@include displayFlexCenter;
	}

	.pages__container {
		@include displayFlexEnd;
		gap: 1.5rem;
		margin-right: 2rem;
		transition: all ease-in 0.2s;

		.link {
			font-size: 1.3rem;
			font-weight: bold;
			letter-spacing: 0.1rem;
			color: $navLight;
			text-decoration: none;
			cursor: pointer;
			transition: all ease-in 0.2s;
			&:hover {
				color: $navLightHover;
				transform: scale(1.05);
			}
		}
		.link__main {
			color: $mainBlue;
			background-color: $buttonColor;
			border-radius: $border-radius;
			padding: 0.4rem 1rem;
			&:hover {
				background-color: $buttonHover;
			}
		}
		.active {
			text-decoration: underline;
		}

		@media only screen and (max-width: $medium) {
			display: none;
			position: absolute;
			opacity: 0;
			z-index: 10;
		}

		.close__btn {
			position: absolute;
			top: 0.8rem;
			right: 0.8rem;
			color: white;
			font-size: 3rem;
			font-weight: bold;
			cursor: pointer;
			transition: all ease 0.1s;
			&:hover {
				color: red;
			}
		}
	}
	.menu__open {
		opacity: 1;
		@include displayFlexStart;
		position: absolute;
		left: 0;
		top: 0;
		flex-direction: column;
		padding-top: 6rem;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.8);
	}
	.burger {
		font-size: 3rem;
		font-weight: bold;
		display: none;
		cursor: pointer;
		transition: all ease-in 0.3s;
		&:hover {
			transform: scale(1.05);
			color: $navLight;
		}

		@media only screen and (max-width: $medium) {
			@include displayFlexCenter;
		}
	}
	.no__opacity {
		opacity: 0;
	}
}
