@import '../styles/variables.scss';

.main__container {
	font-size: 1.3rem;
	padding: 1rem 2rem;

	max-width: 700px;
	h1 {
		color: $mainWhite;
		text-align: center;
	}
	p {
		line-height: 2rem;
		text-align: justify;
	}
}
