@import '../styles/variables.scss';

.main__container {
	border: 1px solid black;
	padding: 3rem;
	@media only screen and (max-width: $medium) {
		padding: 0;
	}
	min-width: 60vw;
	max-width: $content-width;
	min-height: 100vh;
}
