@import '../styles/variables.scss';

.main__container {
	font-size: 1.3rem;
	padding: 1rem 2rem;
	max-width: 700px;
	h1 {
		color: $mainWhite;
		text-align: center;
	}
	p {
		span {
			font-size: 1.3rem;
			font-weight: bold;
			.special__symbol {
				margin-right: 0.5rem;
				font-size: 2rem;
				vertical-align: middle;
				color: $navBackground;
			}
		}
		text-align: justify;
		line-height: 2rem;
	}
	@media only screen and (max-width: $medium) {
		font-size: 1.1rem;
	}
}
