@import '../../styles/variables.scss';

.footer__container {
	background-color: $footerBackground;
	height: 8rem;
	width: 100%;
	@include displayFlexCenter;
	flex-direction: column;
	color: $footerColor;
}
