@import '../src/styles/variables.scss';

.App {
	font-family: $poppins;
	background-color: $mainLight;
	::-moz-selection {
		/* Code for Firefox */
		color: $mainLight;
		background: $navMain;
	}

	::selection {
		color: $mainLight;
		background: $navMain;
	}
}
