@import '../src/styles/variables.scss';

.App {
	font-family: $poppins;
	background-color: $mainWhite;
	::-moz-selection {
		/* Code for Firefox */
		color: $mainWhite;
		background: $navBackground;
	}

	::selection {
		color: $mainWhite;
		background: $navBackground;
	}
}
