@import '../../styles/variables.scss';

.page__container {
	padding: 5rem 1rem 1rem 1rem; // 5rem -  adjust for sticky nav
	background-color: $mainLight;
	display: grid;
	place-items: center;
	min-height: 100vh;
	color: $mainDark;
}
