@import '../../styles/variables.scss';

.page__container {
	padding: 5rem 1rem 1rem 1rem; // 5rem -  adjust for sticky nav
	background-color: $siteBackground;
	display: grid;
	justify-items: center;
	align-items: start;
	min-height: 100vh;
	color: $mainWhite;
}
