@import '../../styles/variables.scss';

@mixin finish__btn {
	@include btn;
	width: 11rem;
	font-size: 1.3rem;
	padding: 0.3rem;
	height: 3rem;
	@include displayFlexCenter;
}

.finish__container {
	@include displayFlexCenter;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
	h2 {
		text-align: center;
		.icon__thumb {
			color: $navColor;
		}
	}
	.results__container {
		.result {
			margin-left: 1rem;
			font-size: 1.3rem;
			font-weight: bold;
			font-style: italic;
		}
	}

	.buttons__container {
		@include displayFlexCenter;
		gap: 1rem;
		.mail__btn {
			@include finish__btn;
			.icon__mail {
				display: none;
				font-size: 2.6rem;
			}
			@media only screen and (max-width: $medium) {
				font-size: 1rem;
				width: 8rem;
				// height: 2.5rem;
				.swapWord {
					display: none;
				}

				.icon__mail {
					width: 100%;
					display: block;
				}
			}
		}

		.try__btn {
			@include finish__btn;

			.icon__try {
				display: none;
				font-size: 2.1rem;
			}

			@media only screen and (max-width: $medium) {
				font-size: 1rem;
				width: 8rem;
				// height: 2.5rem;
				.swapWord {
					display: none;
				}
				.icon__try {
					display: block;
				}
			}
		}
	}
}
